.article {
  position: relative;
  border: 1px solid rgb(216, 216, 216);

  border-radius: 6px;
  max-width: 350px;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  gap: 5px;
}

.delete {
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
}

.edit {
  background-color: transparent;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
}

.bottom {
  padding: 6px;
}

.image img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.item span {
  font-weight: 500;
}
