.dialog {
  width: auto;
  max-width: 600px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  margin: auto;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.692);
}

.modalFooter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs input {
  padding: 5px;
  border-radius: 6px;
}
